DATABASE_URL=postgres://postgres:postgres@localhost:5432/rpi_guessr?sslmode=disable
S3_BUCKET=photos
S3_REGION=us-east-1
AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_ENDPOINT_URL=http://localhost:9000
PORT=8080
